In [12]:
import pandas as pd
import numpy as np

In [32]:
df = pd.read_excel (r'ft ds traders.xlsx')
df.tail()

,,Priority,Programme,Cohort,Sponsor,Name,Surname,ID no,Email address,Disabled,...,Submitted for verification,Verified,Certificates received,Certificates distributed,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61
397,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,SATW12543115273009,UZOG42729160710894,DRST29763381483369,BCLK02902976580252
398,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,SATW12543115273009,UZOG42729160710894,DRST29763381483369,BCLK02902976580252
399,Competent / Not Yet Competent,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,SATW12543115273009,UZOG42729160710894,DRST29763381483369,BCLK02902976580252
400,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,SATW12543115273009,UZOG42729160710894,DRST29763381483369,BCLK02902976580252
401,NYC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,SATW12543115273009,UZOG42729160710894,DRST29763381483369,BCLK02902976580252

In [28]:
# Checking how the dataframe looks like
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 402 entries, 0 to 401
Data columns (total 62 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0                                                     397 non-null    object
 1   Priority                                          0 non-null      float64
 2   Programme                                         390 non-null    object
 3   Cohort                                            391 non-null    object
 4   Sponsor                                           391 non-null    object
 5   Name                                              391 non-null    object
 6   Surname                                           391 non-null    object
 7   ID no                                             391 non-null    object
 8   Email address                                     391 non-null    object
 9   Disabled                                          197 non-null    object
 10  Disability Support Evidence                       391 non-null    object
 11  Explore member who is supporting the Disability?  390 non-null    object
 12  SIF Completed                                     391 non-null    float64
 13  Docs checked                                      194 non-null    float64
 14  Docs in order                                     391 non-null    float64
 15  Folder created                                    391 non-null    float64
 16  SETA registered                                   391 non-null    float64
 17  St_1_ID                                           391 non-null    float64
 18  St_2_Qual                                         391 non-null    float64
 19  St_3_CV                                           391 non-null    float64
 20  St_4_Declaration of Authenticity                  391 non-null    float64
 21  st_5_Enrollment Form                              391 non-null    float64
 22  st_6_Learnership Agreement                        391 non-null    float64
 23  st_7_Copy of qualilfication being assessed        391 non-null    float64
 24  st_8_Assessment guides                            391 non-null    float64
 25  st_9_Appeals procedure                            391 non-null    float64
 26  st_10_Assessment plan                             391 non-null    float64
 27  st_11_Confirmation to be assessed                 391 non-null    float64
 28  st_12_Pre-assessment meeting                      391 non-null    float64
 29  st_13_Assessment policy                           391 non-null    float64
 30  st_14_Assessment instruments                      391 non-null    float64
 31  PoE downloaded from Athena                        391 non-null    float64
 32  PoE checked for Completeness                      391 non-null    float64
 33  PoE Complete                                      391 non-null    float64
 34  Coursework completed                              391 non-null    float64
 35  st_15_Assessment tools and answer sheet           391 non-null    float64
 36  st_18_Logbook                                     391 non-null    float64
 37  st_18_Feedback Form                               391 non-null    float64
 38  st_18_Attedance Form                              391 non-null    float64
 39  Submitted for Assessment                          391 non-null    float64
 40  Workbook mark                                     197 non-null    float64
 41  Project mark                                      197 non-null    float64
 42  Summative mark                                    0 non-null      float64
 43  st_16_Assessment feedback form                    194 non-null    float64
 44  Assessment review document                        194 non-null    float64
 45  Email sent regarding outcome                      391 non-null    float64
 46  Email re outcome ackowledged                      194 non-null    float64
 47  Linked to Assessor on SETA system                 391 non-null    float64
 48  Assessed                                          391 non-null    float64
 49  Competent / Not Yet Competent                     197 non-null    float64
 50  Linked to Moderator on SETA system                391 non-null    float64
 51  Moderated                                         391 non-null    float64
 52  Submitted for verification                        391 non-null    float64
 53  Verified                                          391 non-null    float64
 54  Certificates received                             391 non-null    float64
 55  Certificates distributed                          391 non-null    float64
 56  Unnamed: 56                                       197 non-null    float64
 57  Unnamed: 57                                       197 non-null    float64
 58  Unnamed: 58                                       208 non-null    object
 59  Unnamed: 59                                       208 non-null    object
 60  Unnamed: 60                                       208 non-null    object
 61  Unnamed: 61                                       208 non-null    object
dtypes: float64(47), object(15)
memory usage: 194.8+ KB

In [33]:
# i use the describe() function to see the statistic distribution of the entire dataframe
df.describe()

,Priority,SIF Completed,Docs checked,Docs in order,Folder created,SETA registered,St_1_ID,St_2_Qual,St_3_CV,St_4_Declaration of Authenticity,...,Assessed,Competent / Not Yet Competent,Linked to Moderator on SETA system,Moderated,Submitted for verification,Verified,Certificates received,Certificates distributed,Unnamed: 56,Unnamed: 57
count,0.0,391.000000,194.000000,391.000000,391.000000,391.000000,391.000000,391.000000,391.000000,391.000000,...,391.0,197.0,391.0,391.0,391.0,391.0,391.0,391.0,197.0,197.0
mean,NaN,0.378517,0.664948,0.828645,0.884910,0.524297,0.823529,0.762148,0.498721,0.493606,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
std,NaN,0.485639,0.473230,0.377302,0.319539,0.500049,0.381708,0.426313,0.500639,0.500600,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
min,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25%,NaN,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50%,NaN,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
75%,NaN,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
max,NaN,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
# Checking the column names of the entire dataframe
for col in df.columns:
    print(col)

Priority
Programme
Cohort
Sponsor
Name
Surname
ID no
Email address
Disabled
Disability Support Evidence
Explore member who is supporting the Disability?
SIF Completed
Docs checked
Docs in order
Folder created
SETA registered
St_1_ID
St_2_Qual
St_3_CV
St_4_Declaration of Authenticity
st_5_Enrollment Form
st_6_Learnership Agreement
st_7_Copy of qualilfication being assessed
st_8_Assessment guides
st_9_Appeals procedure
st_10_Assessment plan
st_11_Confirmation to be assessed
st_12_Pre-assessment meeting
st_13_Assessment policy
st_14_Assessment instruments
PoE downloaded from Athena
PoE checked for Completeness
PoE Complete
Coursework completed
st_15_Assessment tools and answer sheet
st_18_Logbook
st_18_Feedback Form
st_18_Attedance Form
Submitted for Assessment
Workbook mark
Project mark
Summative mark
st_16_Assessment feedback form
Assessment review document
Email sent regarding outcome
Email re outcome ackowledged
Linked to Assessor on SETA system
Assessed
Competent / Not Yet Competent
Linked to Moderator on SETA system
Moderated
Submitted for verification
Verified
Certificates received
Certificates distributed
Unnamed: 56
Unnamed: 57
Unnamed: 58
Unnamed: 59
Unnamed: 60
Unnamed: 61

In [25]:
df.isna().any()

               True
Priority       True
Programme      True
Cohort         True
Sponsor        True
               ...
Unnamed: 57    True
Unnamed: 58    True
Unnamed: 59    True
Unnamed: 60    True
Unnamed: 61    True
Length: 62, dtype: bool

In [21]:
df['Unnamed: 60']

0                     NaN
1                     NaN
2                     NaN
3                     NaN
4                     NaN
              ...
397    DRST29763381483369
398    DRST29763381483369
399    DRST29763381483369
400    DRST29763381483369
401    DRST29763381483369
Name: Unnamed: 60, Length: 402, dtype: object

In [ ]:
del df['Unnamed: ']