In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_excel (r'final (1).xlsx') 
df

,0,Priority,Programme,Cohort,Start date,End date,Sponsors,# of Students,Responsible person,LS / Qual / US,...,Induction Moderation,Interval Moderation,PoE Compilation - Before Exam,PoE Compilation - Prior to Assessment,Assessment,Moderation,Student Comms,Verification,Certification,SETA Requirements not met
0,1,NaN,Intro to Data Science,I2DS Sanlam Feb 2021,1-Feb-2021,Mar 2021,Sanlam,23 (2 SF),Aphiwe,US 114050,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
1,2,NaN,Intro to Data Science,I2DS Std Bank Feb 2021,28-Feb-2021,Apr 2021,Standard Bank,20,Aphiwe,US 114050,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
2,3,NaN,Intro to Data Science,I2DS SAHL 2021,19-Apr-2021,May 2021,SA Home Loans,15,Aphiwe,US 114050,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
3,4,NaN,Intro to Data Science,I2DS Liberty Apr 2021,19-Apr-2021,NaN,Liberty,20,Aphiwe,US 114050,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
4,5,NaN,Intro to Data Science,I2DS Liberty & Hollard May 2021,17-May-2021,NaN,NaN,11,Aphiwe,US 114050,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
5,6,1,Data Science,Jan 2021 PT Sponsored,18-Jan-2021,Dec 2021,Daymon International,1,Kanyisa,ELS,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
6,7,NaN,Data Science,NaN,NaN,NaN,Dimension Data,1,Kanyisa,ELS,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
7,8,NaN,Data Science,NaN,NaN,NaN,Lexis Nexus,22,Kanyisa,ELS,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
8,9,NaN,Data Engineering,NaN,NaN,NaN,Cell C,23,Kanyisa,ELS,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
9,10,NaN,Data Engineering,NaN,NaN,NaN,Harambee,1,Kanyisa,ELS,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
10,11,NaN,Data Engineering,NaN,NaN,NaN,Nedbank,3,Kanyisa,ELS,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
11,0,Priority,Programme,Cohort,Start date,End date,Sponsors,# of Students,Responsible person,LS / Qual / US,...,Induction Moderation,Interval Moderation,PoE Compilation - Before Exam,PoE Compilation - Prior to Assessment,Assessment,Moderation,Student Comms,Verification,Certification,SETA Requirements not met
12,1,NaN,Intro to Data Science,I2DS Sanlam Feb 2021,1-Feb-2021,Mar 2021,Sanlam,23 (2 SF),Aphiwe,US 114050,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
13,2,NaN,Intro to Data Science,I2DS Std Bank Feb 2021,28-Feb-2021,Apr 2021,Standard Bank,20,Aphiwe,US 114050,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
14,3,NaN,Intro to Data Science,I2DS SAHL 2021,19-Apr-2021,May 2021,SA Home Loans,15,Aphiwe,US 114050,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
15,4,NaN,Intro to Data Science,I2DS Liberty Apr 2021,19-Apr-2021,NaN,Liberty,20,Aphiwe,US 114050,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
16,5,NaN,Intro to Data Science,I2DS Liberty & Hollard May 2021,17-May-2021,NaN,NaN,11,Aphiwe,US 114050,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
17,6,1,Data Science,Jan 2021 PT Sponsored,18-Jan-2021,Dec 2021,Daymon International,1,Kanyisa,ELS,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
18,7,NaN,Data Science,NaN,NaN,NaN,Dimension Data,1,Kanyisa,ELS,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
19,8,NaN,Data Science,NaN,NaN,NaN,Lexis Nexus,22,Kanyisa,ELS,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
20,9,NaN,Data Engineering,NaN,NaN,NaN,Cell C,23,Kanyisa,ELS,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
21,10,NaN,Data Engineering,NaN,NaN,NaN,Harambee,1,Kanyisa,ELS,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
22,11,NaN,Data Engineering,NaN,NaN,NaN,Nedbank,3,Kanyisa,ELS,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE

In [5]:
for col in df.columns:
    print(col)

0
Priority
Programme
Cohort
Start date
End date
Sponsors
# of Students
Responsible person
LS / Qual / US
SETA Registration
Learnership Registration
Student Folders Created
Induction Moderation
Interval Moderation
PoE Compilation - Before Exam
PoE Compilation - Prior to Assessment
Assessment
Moderation
Student Comms
Verification
Certification
SETA Requirements not met

In [6]:
del df['Priority']
for col in df.columns:
    print(col)

0
Programme
Cohort
Start date
End date
Sponsors
# of Students
Responsible person
LS / Qual / US
SETA Registration
Learnership Registration
Student Folders Created
Induction Moderation
Interval Moderation
PoE Compilation - Before Exam
PoE Compilation - Prior to Assessment
Assessment
Moderation
Student Comms
Verification
Certification
SETA Requirements not met

In [7]:
data = df.drop([11], axis=0)
data

,0,Programme,Cohort,Start date,End date,Sponsors,# of Students,Responsible person,LS / Qual / US,SETA Registration,...,Induction Moderation,Interval Moderation,PoE Compilation - Before Exam,PoE Compilation - Prior to Assessment,Assessment,Moderation,Student Comms,Verification,Certification,SETA Requirements not met
0,1,Intro to Data Science,I2DS Sanlam Feb 2021,1-Feb-2021,Mar 2021,Sanlam,23 (2 SF),Aphiwe,US 114050,FALSE,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
1,2,Intro to Data Science,I2DS Std Bank Feb 2021,28-Feb-2021,Apr 2021,Standard Bank,20,Aphiwe,US 114050,FALSE,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
2,3,Intro to Data Science,I2DS SAHL 2021,19-Apr-2021,May 2021,SA Home Loans,15,Aphiwe,US 114050,FALSE,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
3,4,Intro to Data Science,I2DS Liberty Apr 2021,19-Apr-2021,NaN,Liberty,20,Aphiwe,US 114050,FALSE,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
4,5,Intro to Data Science,I2DS Liberty & Hollard May 2021,17-May-2021,NaN,NaN,11,Aphiwe,US 114050,FALSE,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
5,6,Data Science,Jan 2021 PT Sponsored,18-Jan-2021,Dec 2021,Daymon International,1,Kanyisa,ELS,FALSE,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
6,7,Data Science,NaN,NaN,NaN,Dimension Data,1,Kanyisa,ELS,FALSE,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
7,8,Data Science,NaN,NaN,NaN,Lexis Nexus,22,Kanyisa,ELS,FALSE,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
8,9,Data Engineering,NaN,NaN,NaN,Cell C,23,Kanyisa,ELS,FALSE,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
9,10,Data Engineering,NaN,NaN,NaN,Harambee,1,Kanyisa,ELS,FALSE,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
10,11,Data Engineering,NaN,NaN,NaN,Nedbank,3,Kanyisa,ELS,FALSE,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
12,1,Intro to Data Science,I2DS Sanlam Feb 2021,1-Feb-2021,Mar 2021,Sanlam,23 (2 SF),Aphiwe,US 114050,FALSE,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
13,2,Intro to Data Science,I2DS Std Bank Feb 2021,28-Feb-2021,Apr 2021,Standard Bank,20,Aphiwe,US 114050,FALSE,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
14,3,Intro to Data Science,I2DS SAHL 2021,19-Apr-2021,May 2021,SA Home Loans,15,Aphiwe,US 114050,FALSE,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
15,4,Intro to Data Science,I2DS Liberty Apr 2021,19-Apr-2021,NaN,Liberty,20,Aphiwe,US 114050,FALSE,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
16,5,Intro to Data Science,I2DS Liberty & Hollard May 2021,17-May-2021,NaN,NaN,11,Aphiwe,US 114050,FALSE,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
17,6,Data Science,Jan 2021 PT Sponsored,18-Jan-2021,Dec 2021,Daymon International,1,Kanyisa,ELS,FALSE,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
18,7,Data Science,NaN,NaN,NaN,Dimension Data,1,Kanyisa,ELS,FALSE,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
19,8,Data Science,NaN,NaN,NaN,Lexis Nexus,22,Kanyisa,ELS,FALSE,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
20,9,Data Engineering,NaN,NaN,NaN,Cell C,23,Kanyisa,ELS,FALSE,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
21,10,Data Engineering,NaN,NaN,NaN,Harambee,1,Kanyisa,ELS,FALSE,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
22,11,Data Engineering,NaN,NaN,NaN,Nedbank,3,Kanyisa,ELS,FALSE,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE

In [8]:
df = df.reset_index()
df

,index,0,Programme,Cohort,Start date,End date,Sponsors,# of Students,Responsible person,LS / Qual / US,...,Induction Moderation,Interval Moderation,PoE Compilation - Before Exam,PoE Compilation - Prior to Assessment,Assessment,Moderation,Student Comms,Verification,Certification,SETA Requirements not met
0,0,1,Intro to Data Science,I2DS Sanlam Feb 2021,1-Feb-2021,Mar 2021,Sanlam,23 (2 SF),Aphiwe,US 114050,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
1,1,2,Intro to Data Science,I2DS Std Bank Feb 2021,28-Feb-2021,Apr 2021,Standard Bank,20,Aphiwe,US 114050,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
2,2,3,Intro to Data Science,I2DS SAHL 2021,19-Apr-2021,May 2021,SA Home Loans,15,Aphiwe,US 114050,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
3,3,4,Intro to Data Science,I2DS Liberty Apr 2021,19-Apr-2021,NaN,Liberty,20,Aphiwe,US 114050,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
4,4,5,Intro to Data Science,I2DS Liberty & Hollard May 2021,17-May-2021,NaN,NaN,11,Aphiwe,US 114050,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
5,5,6,Data Science,Jan 2021 PT Sponsored,18-Jan-2021,Dec 2021,Daymon International,1,Kanyisa,ELS,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
6,6,7,Data Science,NaN,NaN,NaN,Dimension Data,1,Kanyisa,ELS,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
7,7,8,Data Science,NaN,NaN,NaN,Lexis Nexus,22,Kanyisa,ELS,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
8,8,9,Data Engineering,NaN,NaN,NaN,Cell C,23,Kanyisa,ELS,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
9,9,10,Data Engineering,NaN,NaN,NaN,Harambee,1,Kanyisa,ELS,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
10,10,11,Data Engineering,NaN,NaN,NaN,Nedbank,3,Kanyisa,ELS,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
11,11,0,Programme,Cohort,Start date,End date,Sponsors,# of Students,Responsible person,LS / Qual / US,...,Induction Moderation,Interval Moderation,PoE Compilation - Before Exam,PoE Compilation - Prior to Assessment,Assessment,Moderation,Student Comms,Verification,Certification,SETA Requirements not met
12,12,1,Intro to Data Science,I2DS Sanlam Feb 2021,1-Feb-2021,Mar 2021,Sanlam,23 (2 SF),Aphiwe,US 114050,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
13,13,2,Intro to Data Science,I2DS Std Bank Feb 2021,28-Feb-2021,Apr 2021,Standard Bank,20,Aphiwe,US 114050,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
14,14,3,Intro to Data Science,I2DS SAHL 2021,19-Apr-2021,May 2021,SA Home Loans,15,Aphiwe,US 114050,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
15,15,4,Intro to Data Science,I2DS Liberty Apr 2021,19-Apr-2021,NaN,Liberty,20,Aphiwe,US 114050,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
16,16,5,Intro to Data Science,I2DS Liberty & Hollard May 2021,17-May-2021,NaN,NaN,11,Aphiwe,US 114050,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
17,17,6,Data Science,Jan 2021 PT Sponsored,18-Jan-2021,Dec 2021,Daymon International,1,Kanyisa,ELS,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
18,18,7,Data Science,NaN,NaN,NaN,Dimension Data,1,Kanyisa,ELS,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
19,19,8,Data Science,NaN,NaN,NaN,Lexis Nexus,22,Kanyisa,ELS,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
20,20,9,Data Engineering,NaN,NaN,NaN,Cell C,23,Kanyisa,ELS,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
21,21,10,Data Engineering,NaN,NaN,NaN,Harambee,1,Kanyisa,ELS,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
22,22,11,Data Engineering,NaN,NaN,NaN,Nedbank,3,Kanyisa,ELS,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE

In [10]:
#checkig null spaces in the column
df.isna().any()

index                                    False
0                                        False
Programme                                False
Cohort                                    True
Start date                                True
End date                                  True
Sponsors                                  True
# of Students                            False
Responsible person                       False
LS / Qual / US                           False
SETA Registration                        False
Learnership Registration                 False
Student Folders Created                  False
Induction Moderation                     False
Interval Moderation                      False
PoE Compilation - Before Exam            False
PoE Compilation - Prior to Assessment    False
Assessment                               False
Moderation                               False
Student Comms                            False
Verification                             False
Certification                            False
SETA Requirements not met                False
dtype: bool

In [13]:
df['Sponsors']

0                   Sanlam
1            Standard Bank
2            SA Home Loans
3                  Liberty
4                      NaN
5     Daymon International
6           Dimension Data
7              Lexis Nexus
8                   Cell C
9                 Harambee
10                 Nedbank
11                Sponsors
12                  Sanlam
13           Standard Bank
14           SA Home Loans
15                 Liberty
16                     NaN
17    Daymon International
18          Dimension Data
19             Lexis Nexus
20                  Cell C
21                Harambee
22                 Nedbank
Name: Sponsors, dtype: object

In [12]:
df['End date']

0     Mar 2021
1     Apr 2021
2     May 2021
3          NaN
4          NaN
5     Dec 2021
6          NaN
7          NaN
8          NaN
9          NaN
10         NaN
11    End date
12    Mar 2021
13    Apr 2021
14    May 2021
15         NaN
16         NaN
17    Dec 2021
18         NaN
19         NaN
20         NaN
21         NaN
22         NaN
Name: End date, dtype: object