In [7]:
import pandas as pd

In [11]:
df = pd.read_excel (r'2021 Seta 1111int .xlsx') 
df.head()

,Priority,Programme,Cohort,Start date,End date,Sponsors,# of Students,Responsible person,LS / Qual / US,SETA Registration,...,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32
0,NaN,Intro to Data Science,I2DS Sanlam Feb 2021,2021-02-01,2021-03-23,Sanlam,23 (2 SF),Aphiwe,US 114050,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Intro to Data Science,I2DS Std Bank Feb 2021,2021-02-28,2021-04-04,Standard Bank,20,Aphiwe,US 114050,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Intro to Data Science,I2DS SAHL 2021,2021-04-19,2021-05-01,SA Home Loans,15,Aphiwe,US 114050,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Intro to Data Science,I2DS Liberty Apr 2021,2021-04-19,NaT,Liberty,20,Aphiwe,US 114050,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Intro to Data Science,I2DS Liberty & Hollard May 2021,2021-05-17,NaT,NaN,11,Aphiwe,US 114050,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
for col in df.columns:
    print(col)

Priority
Programme
Cohort
Start date
End date
Sponsors
# of Students
Responsible person
LS / Qual / US
SETA Registration
Learnership Registration
Student Folders Created
Induction Moderation
Interval Moderation
PoE Compilation - Before Exam
PoE Compilation - Prior to Assessment
Assessment
Moderation
Student Comms
Verification
Certification
Unnamed: 21
Unnamed: 22
Unnamed: 23
Unnamed: 24
Unnamed: 25
Unnamed: 26
Unnamed: 27
Unnamed: 28
Unnamed: 29
Unnamed: 30
Unnamed: 31
Unnamed: 32