## Important libraries

In [172]:
import pandas as pd
import numpy as np

# Importing module for google spread sheet
import pandas as pd
import gspread
import df2gspread as d2g

ModuleNotFoundError: No module named 'gspread'

## Importing Data

In [150]:

df2021 = pd.read_excel ('2021 Seta 1111int .xlsx',sheet_name = 'PT DS Learner Tracker' )# PT DS Learner Tracker sheet from the seta 2021 data
df2022 = pd.read_excel('SETA 2022_ 111 Int.xlsx', sheet_name='PT DS Learner Tracker')# PT DS Learner Tracker sheet from the seta 2022 data

### Checking the imported data from
Firstly by observing, both the columns  data are not the arrangement and other columns contains Nall values which need to be cleaned, the columns of the two data are not arranged the same, it must be atlist be the same os that the data will have a information when it is marged to one data frame.

In [151]:
# Checking the 2021 data using the info() functions
df2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 58 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   Responsible                                       24 non-null     object
 1   Priority                                          0 non-null      float64
 2   Programme                                         24 non-null     object
 3   Cohort                                            24 non-null     object
 4   Sponsor                                           24 non-null     object
 5   Name                                              24 non-null     object
 6   Surname                                           24 non-null     object
 7   Email address                                     24 non-null     object
 8   Disabled                                          0 non-null      float64
 9   Disability Support Evidence                       24 non-null     bool
 10  Explore member who is supporting the Disability?  24 non-null     bool
 11  SIF Completed                                     24 non-null     bool
 12  Docs checked                                      24 non-null     bool
 13  Docs in order                                     24 non-null     bool
 14  Folder created                                    24 non-null     bool
 15  SETA registered                                   24 non-null     bool
 16  St_1_ID                                           24 non-null     bool
 17  St_2_Qual                                         24 non-null     bool
 18  St_3_CV                                           24 non-null     bool
 19  St_4_Declaration of Authenticity                  24 non-null     bool
 20  st_5_Enrollment Form                              24 non-null     bool
 21  st_6_Learnership Agreement                        24 non-null     bool
 22  st_7_Copy of qualilfication being assessed        24 non-null     bool
 23  st_8_Assessment guides                            24 non-null     bool
 24  st_9_Appeals procedure                            24 non-null     bool
 25  st_10_Assessment plan                             24 non-null     bool
 26  st_11_Confirmation to be assessed                 24 non-null     bool
 27  st_12_Pre-assessment meeting                      24 non-null     bool
 28  st_13_Assessment policy                           24 non-null     bool
 29  st_14_Assessment instruments                      24 non-null     bool
 30  PoE downloaded from Athena                        24 non-null     bool
 31  PoE checked for Completeness                      24 non-null     bool
 32  PoE Complete                                      24 non-null     bool
 33  Coursework completed                              24 non-null     bool
 34  st_15_Assessment tools and answer sheet           24 non-null     bool
 35  st_18_Logbook                                     24 non-null     bool
 36  st_18_Feedback Form                               24 non-null     bool
 37  st_18_Attedance Form                              24 non-null     bool
 38  Submitted for Assessment                          24 non-null     bool
 39  Workbook mark                                     0 non-null      float64
 40  Project mark                                      0 non-null      float64
 41  Summative mark                                    0 non-null      float64
 42  st_16_Assessment feedback form                    24 non-null     bool
 43  Assessment review document                        24 non-null     bool
 44  Email sent regarding outcome                      24 non-null     bool
 45  Email re outcome ackowledged                      24 non-null     bool
 46  Linked to Assessor on SETA system                 24 non-null     bool
 47  Assessed                                          24 non-null     bool
 48  Competent / Not Yet Competent                     0 non-null      float64
 49  Linked to Moderator on SETA system                24 non-null     bool
 50  Moderated                                         24 non-null     bool
 51  Submitted for verification                        24 non-null     bool
 52  Verified                                          24 non-null     bool
 53  Certificates received                             24 non-null     bool
 54  Certificates distributed                          24 non-null     bool
 55  Unnamed: 55                                       0 non-null      float64
 56  Unnamed: 56                                       0 non-null      float64
 57  Unnamed: 57                                       0 non-null      float64
dtypes: bool(42), float64(9), object(7)
memory usage: 4.1+ KB

In [152]:
# The 2022 PT DS Learner Tracker data
df2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 64 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   Responsible                                       150 non-null    object
 1   Priority                                          0 non-null      float64
 2   Programme                                         144 non-null    object
 3   Cohort                                            144 non-null    object
 4   LS / Qual                                         144 non-null    object
 5   Sponsor                                           144 non-null    object
 6   Employed/Unemployed                               142 non-null    object
 7   Name                                              144 non-null    object
 8   Surname                                           144 non-null    object
 9   ID number                                         144 non-null    object
 10  Email address                                     144 non-null    object
 11  Disabled                                          0 non-null      float64
 12  Disability Support Evidence                       144 non-null    float64
 13  Explore member who is supporting the Disability?  0 non-null      float64
 14  SIF Completed                                     144 non-null    float64
 15  Docs checked                                      144 non-null    float64
 16  Docs in order                                     144 non-null    float64
 17  Folder created                                    144 non-null    float64
 18  SETA registered                                   144 non-null    float64
 19  St_1_ID                                           144 non-null    float64
 20  St_2_Qual                                         144 non-null    float64
 21  St_3_CV                                           144 non-null    float64
 22  St_4_Declaration of Authenticity                  144 non-null    float64
 23  st_5_Enrollment Form                              144 non-null    float64
 24  st_6_Learnership Agreement                        144 non-null    float64
 25  st_7_Copy of qualilfication being assessed        144 non-null    float64
 26  st_8_Assessment guides                            144 non-null    float64
 27  st_9_Appeals procedure                            144 non-null    float64
 28  st_10_Assessment plan                             144 non-null    float64
 29  st_11_Confirmation to be assessed                 144 non-null    float64
 30  st_12_Pre-assessment meeting                      144 non-null    float64
 31  st_13_Assessment policy                           144 non-null    float64
 32  st_14_Assessment instruments                      144 non-null    float64
 33  PoE downloaded from Athena                        144 non-null    float64
 34  PoE checked for Completeness                      144 non-null    float64
 35  PoE Complete                                      144 non-null    float64
 36  Coursework completed                              144 non-null    float64
 37  st_15_Assessment tools and answer sheet           144 non-null    float64
 38  st_18_Logbook                                     144 non-null    float64
 39  st_18_Feedback Form                               144 non-null    float64
 40  st_18_Attedance Form                              144 non-null    float64
 41  Submitted for Assessment                          144 non-null    float64
 42  Workbook mark                                     0 non-null      float64
 43  Project mark                                      0 non-null      float64
 44  Summative mark                                    0 non-null      float64
 45  st_16_Assessment feedback form                    144 non-null    float64
 46  Competent / Not Yet Competent                     0 non-null      float64
 47  Assessment review document                        144 non-null    float64
 48  Email sent regarding outcome                      144 non-null    float64
 49  Assessed                                          144 non-null    float64
 50  Moderated                                         144 non-null    float64
 51  Email re outcome ackowledged                      144 non-null    float64
 52  Linked to Assessor on SETA system                 144 non-null    float64
 53  Linked to Moderator on SETA system                144 non-null    float64
 54  Submitted for verification                        144 non-null    float64
 55  Verified                                          144 non-null    float64
 56  Certificates received                             144 non-null    float64
 57  Certificates distributed                          144 non-null    float64
 58  Unnamed: 58                                       0 non-null      float64
 59  Unnamed: 59                                       0 non-null      float64
 60  Unnamed: 60                                       0 non-null      float64
 61  Unnamed: 61                                       0 non-null      float64
 62  Unnamed: 62                                       0 non-null      float64
 63  Unnamed: 63                                       0 non-null      float64
dtypes: float64(54), object(10)
memory usage: 76.6+ KB

## Data engineering
The functions was created and used to clean the data

In [153]:
# Function to rearrange the columns
def re_arange_column(column,df):
                    df.insert(len(df.columns)-1, column, df.pop(column))
                    return df

In [154]:
# Function to remove null and replace it with the empty space
def remove_nall(column,df):
                    df[[column]]=df[[column]].fillna('')
                    return df

In [155]:
# Function to delete columns
def remove_col(column,df):
                    del df[column]
                    return df

In [156]:
# This function help to replace values in a column
def replacing_values(Old_value,New_value,column):
                    column.replace(['Old_value'],'New_value')
                    return column

In [157]:
# Function to fill up values in column useing other column information
def opposit_value_col(column1, column2,df):
                    if df[column1] == 'FALSE':
                                        return df[column2]== 'FALSE'
                    else:

                                        return df[column2] == 'TRUE'

In [158]:
# Re arranging the following column
re_arange_column('LS / Qual',df2022)
re_arange_column('Employed/Unemployed',df2022)
# Removing unwanted columns which does not add up information
remove_col('Unnamed: 55',df2021)
remove_col('Unnamed: 56',df2021)
remove_col('Unnamed: 57',df2021)
remove_col('Unnamed: 58',df2022)
remove_col('Unnamed: 59',df2022)
remove_col('Unnamed: 60',df2022)
remove_col('Unnamed: 61',df2022)
remove_col('Unnamed: 62',df2022)
remove_col('Unnamed: 63',df2022)
remove_col('Priority',df2022)
remove_col('Priority',df2021)

,Responsible,Programme,Cohort,Sponsor,Name,Surname,Email address,Disabled,Disability Support Evidence,Explore member who is supporting the Disability?,...,Email re outcome ackowledged,Linked to Assessor on SETA system,Assessed,Competent / Not Yet Competent,Linked to Moderator on SETA system,Moderated,Submitted for verification,Verified,Certificates received,Certificates distributed
0,Kanyisa,Data Science,2101PT DS SP,Daymon International,WGEV37017016920915,FUZZ17787514715197,TDWR66664358513904,NaN,False,False,...,False,False,False,NaN,False,False,False,False,False,False
1,Kanyisa,Data Science,2101PT DS SP,Dimension Data,KFGF35327810157140,BXQK63982861284112,JVCK59694649948175,NaN,False,False,...,False,False,False,NaN,False,False,False,False,False,False
2,Kanyisa,Data Science,2101PT DS SP,Dimension Data,AZBD06956584107789,TQPW15740219355957,DEYN78636635388442,NaN,False,False,...,False,False,False,NaN,False,False,False,False,False,False
3,Kanyisa,Data Science,2101PT DS SP,Dimension Data,HLPD07732830349377,LMSI01777404590506,JXZO53699040896938,NaN,False,False,...,False,False,False,NaN,False,False,False,False,False,False
4,Kanyisa,Data Science,2101PT DS SP,Dimension Data,ZCDT89828136145319,LFXR16883176040507,XCBJ69515005634466,NaN,False,False,...,False,False,False,NaN,False,False,False,False,False,False
5,Kanyisa,Data Science,2101PT DS SP,Dimension Data,SMGM93879460215704,ACZN26725181721714,HPQU46921252393942,NaN,False,False,...,False,False,False,NaN,False,False,False,False,False,False
6,Kanyisa,Data Science,2101PT DS SP,Dimension Data,FUCK14654365834216,FLYJ02393716232929,UDBO76321734116393,NaN,False,False,...,False,False,False,NaN,False,False,False,False,False,False
7,Kanyisa,Data Science,2101PT DS SP,Dimension Data,WMVM64279511575668,YOPV96767019971813,NLXS36715188270629,NaN,False,False,...,False,False,False,NaN,False,False,False,False,False,False
8,Kanyisa,Data Science,2101PT DS SP,Dimension Data,IKVW26362410739341,XFNY80675799202358,VHFS21277835743331,NaN,False,False,...,False,False,False,NaN,False,False,False,False,False,False
9,Kanyisa,Data Science,2101PT DS SP,Dimension Data,UADZ73589946520847,JJIY80094450962025,OAAJ36851039929643,NaN,False,False,...,False,False,False,NaN,False,False,False,False,False,False
10,Kanyisa,Data Science,2101PT DS SP,Dimension Data,PIEU27684952595650,WRSO03172192320429,FYWB27996110689446,NaN,False,False,...,False,False,False,NaN,False,False,False,False,False,False
11,Kanyisa,Data Science,2101PT DS SP,Dimension Data,OVFQ75853682226394,KEYH15308509154051,TRVC81849992555127,NaN,False,False,...,False,False,False,NaN,False,False,False,False,False,False
12,Kanyisa,Data Science,2101PT DS SP,Dimension Data,LPWQ91684141283244,OUQI04949987654006,OOVG56247763042751,NaN,False,False,...,False,False,False,NaN,False,False,False,False,False,False
13,Kanyisa,Data Science,2101PT DS SP,Dimension Data,ZWMH58378039098544,DIMS90118028284132,VJMA82265302866949,NaN,False,False,...,False,False,False,NaN,False,False,False,False,False,False
14,Kanyisa,Data Science,2101PT DS SP,Dimension Data,TAME13787871791005,KEXC79856888283855,DSIS56631525544078,NaN,False,False,...,False,False,False,NaN,False,False,False,False,False,False
15,Kanyisa,Data Science,2101PT DS SP,Dimension Data,FDIY42348939062993,NZPU61953635190445,PYEM28758783296265,NaN,False,False,...,False,False,False,NaN,False,False,False,False,False,False
16,Kanyisa,Data Science,2101PT DS SP,Dimension Data,CBCE08123176802221,ABJJ78155099365998,DGHX89813289281260,NaN,False,False,...,False,False,False,NaN,False,False,False,False,False,False
17,Kanyisa,Data Science,2101PT DS SP,Dimension Data,WVPF01744485631198,EAGR31545387789589,SUJO98577196037198,NaN,False,False,...,False,False,False,NaN,False,False,False,False,False,False
18,Kanyisa,Data Science,2101PT DS SP,Dimension Data,OWJU85166779455211,QSZI46546515103626,GMMD25905024106673,NaN,False,False,...,False,False,False,NaN,False,False,False,False,False,False
19,Kanyisa,Data Science,2101PT DS SP,Dimension Data,UYFZ71161110489485,QHTE42015978323417,BIZP54809593828648,NaN,False,False,...,False,False,False,NaN,False,False,False,False,False,False
20,Kanyisa,Data Science,2101PT DS SP,Dimension Data,RDHH41363913815616,NYWX03056373469070,VLAL75209002924580,NaN,False,False,...,False,False,False,NaN,False,False,False,False,False,False
21,Kanyisa,Data Science,2101PT DS SP,Dimension Data,ZUQW10719786544812,LMNN95967336502614,DNFM27329366767796,NaN,False,False,...,False,False,False,NaN,False,False,False,False,False,False
22,Kanyisa,Data Science,2101PT DS SP,Dimension Data,BSLZ67335191291894,JKFR70948244216587,GYDV10962347459130,NaN,False,False,...,False,False,False,NaN,False,False,False,False,False,False
23,Kanyisa,Data Science,2101PT DS SP,LexisNexis sponsored,IOBR21702911310571,XZIU82025395716790,IKZM29359912407744,NaN,False,False,...,False,False,False,NaN,False,False,False,False,False,False

In [159]:
# marging the two dataframe to one dataframe
df=pd.concat([df2021, df2022])
df

,Responsible,Programme,Cohort,Sponsor,Name,Surname,Email address,Disabled,Disability Support Evidence,Explore member who is supporting the Disability?,...,Competent / Not Yet Competent,Linked to Moderator on SETA system,Moderated,Submitted for verification,Verified,Certificates received,Certificates distributed,ID number,LS / Qual,Employed/Unemployed
0,Kanyisa,Data Science,2101PT DS SP,Daymon International,WGEV37017016920915,FUZZ17787514715197,TDWR66664358513904,NaN,0.0,0.0,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
1,Kanyisa,Data Science,2101PT DS SP,Dimension Data,KFGF35327810157140,BXQK63982861284112,JVCK59694649948175,NaN,0.0,0.0,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
2,Kanyisa,Data Science,2101PT DS SP,Dimension Data,AZBD06956584107789,TQPW15740219355957,DEYN78636635388442,NaN,0.0,0.0,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
3,Kanyisa,Data Science,2101PT DS SP,Dimension Data,HLPD07732830349377,LMSI01777404590506,JXZO53699040896938,NaN,0.0,0.0,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
4,Kanyisa,Data Science,2101PT DS SP,Dimension Data,ZCDT89828136145319,LFXR16883176040507,XCBJ69515005634466,NaN,0.0,0.0,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150,Competent / Not Yet Competent,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
151,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
152,NYC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [160]:
# rename the 'Competent / Not Yet Competent' to 'Competent' so that its will be easy to answer yes or no in the column
df.rename(columns ={'Competent / Not Yet Competent':'completent?'}, inplace = True)

In [161]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 177 entries, 0 to 152
Data columns (total 57 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   Responsible                                       174 non-null    object
 1   Programme                                         168 non-null    object
 2   Cohort                                            168 non-null    object
 3   Sponsor                                           168 non-null    object
 4   Name                                              168 non-null    object
 5   Surname                                           168 non-null    object
 6   Email address                                     168 non-null    object
 7   Disabled                                          0 non-null      float64
 8   Disability Support Evidence                       168 non-null    float64
 9   Explore member who is supporting the Disability?  24 non-null     float64
 10  SIF Completed                                     168 non-null    float64
 11  Docs checked                                      168 non-null    float64
 12  Docs in order                                     168 non-null    float64
 13  Folder created                                    168 non-null    float64
 14  SETA registered                                   168 non-null    float64
 15  St_1_ID                                           168 non-null    float64
 16  St_2_Qual                                         168 non-null    float64
 17  St_3_CV                                           168 non-null    float64
 18  St_4_Declaration of Authenticity                  168 non-null    float64
 19  st_5_Enrollment Form                              168 non-null    float64
 20  st_6_Learnership Agreement                        168 non-null    float64
 21  st_7_Copy of qualilfication being assessed        168 non-null    float64
 22  st_8_Assessment guides                            168 non-null    float64
 23  st_9_Appeals procedure                            168 non-null    float64
 24  st_10_Assessment plan                             168 non-null    float64
 25  st_11_Confirmation to be assessed                 168 non-null    float64
 26  st_12_Pre-assessment meeting                      168 non-null    float64
 27  st_13_Assessment policy                           168 non-null    float64
 28  st_14_Assessment instruments                      168 non-null    float64
 29  PoE downloaded from Athena                        168 non-null    float64
 30  PoE checked for Completeness                      168 non-null    float64
 31  PoE Complete                                      168 non-null    float64
 32  Coursework completed                              168 non-null    float64
 33  st_15_Assessment tools and answer sheet           168 non-null    float64
 34  st_18_Logbook                                     168 non-null    float64
 35  st_18_Feedback Form                               168 non-null    float64
 36  st_18_Attedance Form                              168 non-null    float64
 37  Submitted for Assessment                          168 non-null    float64
 38  Workbook mark                                     0 non-null      float64
 39  Project mark                                      0 non-null      float64
 40  Summative mark                                    0 non-null      float64
 41  st_16_Assessment feedback form                    168 non-null    float64
 42  Assessment review document                        168 non-null    float64
 43  Email sent regarding outcome                      168 non-null    float64
 44  Email re outcome ackowledged                      168 non-null    float64
 45  Linked to Assessor on SETA system                 168 non-null    float64
 46  Assessed                                          168 non-null    float64
 47  completent?                                       0 non-null      float64
 48  Linked to Moderator on SETA system                168 non-null    float64
 49  Moderated                                         168 non-null    float64
 50  Submitted for verification                        168 non-null    float64
 51  Verified                                          168 non-null    float64
 52  Certificates received                             168 non-null    float64
 53  Certificates distributed                          168 non-null    float64
 54  ID number                                         144 non-null    object
 55  LS / Qual                                         144 non-null    object
 56  Employed/Unemployed                               142 non-null    object
dtypes: float64(47), object(10)
memory usage: 80.2+ KB

In [162]:
replacing_values('âœ–','FALSE',df["Employed/Unemployed"])

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
      ...
148    NaN
149    NaN
150    NaN
151    NaN
152    NaN
Name: Employed/Unemployed, Length: 177, dtype: object

In [163]:
# I found that the Employed/Unemployed column has symbles value
df["Employed/Unemployed"].tail(40)

113       âœ–
114       âœ–
115    True
116       âœ–
117    True
118    True
119       âœ–
120    True
121    True
122    True
123       âœ–
124    True
125    True
126       âœ–
127    True
128    True
129    True
130       âœ–
131       âœ–
132       âœ–
133    True
134    True
135    True
136    True
137    True
138    True
139    True
140    True
141    True
142    True
143    True
144     NaN
145     NaN
146     NaN
147     NaN
148     NaN
149     NaN
150     NaN
151     NaN
152     NaN
Name: Employed/Unemployed, dtype: object

In [164]:
# using the replacing_values function to clean the "Employed/Unemployed" column
replacing_values('âœ–','FALSE',df["Employed/Unemployed"])
df["Employed/Unemployed"].tail(40)

113       âœ–
114       âœ–
115    True
116       âœ–
117    True
118    True
119       âœ–
120    True
121    True
122    True
123       âœ–
124    True
125    True
126       âœ–
127    True
128    True
129    True
130       âœ–
131       âœ–
132       âœ–
133    True
134    True
135    True
136    True
137    True
138    True
139    True
140    True
141    True
142    True
143    True
144     NaN
145     NaN
146     NaN
147     NaN
148     NaN
149     NaN
150     NaN
151     NaN
152     NaN
Name: Employed/Unemployed, dtype: object

In [165]:
# with regards the nall values, on the dataframe i decided to romove them and make blank space
remove_nall('Employed/Unemployed',df)
remove_nall('Summative mark',df)
remove_nall('Project mark',df)
remove_nall('Workbook mark',df)
remove_nall('LS / Qual',df)
remove_nall('ID number',df)
remove_nall('Workbook mark',df)
remove_nall('Workbook mark',df)
remove_nall('Assessed',df)

113       âœ–
114       âœ–
115    True
116       âœ–
117    True
118    True
119       âœ–
120    True
121    True
122    True
123       âœ–
124    True
125    True
126       âœ–
127    True
128    True
129    True
130       âœ–
131       âœ–
132       âœ–
133    True
134    True
135    True
136    True
137    True
138    True
139    True
140    True
141    True
142    True
143    True
144
145
146
147
148
149
150
151
152
Name: Employed/Unemployed, dtype: object